<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{url_for('blogs.index')}}">Home</a>
  <a class="navbar-brand" href="{{url_for('blogs.series')}}">Series</a>
  <a class="navbar-brand" href="{{url_for('blogs.author')}}">Authors</a>
  <a class="navbar-brand" href="{{url_for('blogs.addblogs')}}">Add blogs</a>
  <a class="navbar-brand" href="{{url_for('blogs.staticupload')}}">File Upload</a>
  <a class="navbar-brand" href="{{url_for('blogs.preblogs')}}">PreBlogs</a>
</nav>