{% extends "./portfolio/layout/base.html" %} {% block content %}
{% include "./portfolio/layout/nevbar.html" %}
    <header class="bg-primary text-center py-2 mb-2">
      
    </header>

    <div id="page-content">
      <div class="container ">
        <div class="row justify-content-center">
          <div class="col-md-7">
            <!-- <h1 class="font-weight-light mt-4 text-white">
              Sticky Footer using Flexbox
            </h1> -->
            <br />
            <div class="card">
              <div class="card-header">
                Contact Info.
              </div>
              <div class="card-body stuck">
                {% for i in data %}
                <blockquote class="blockquote mb-0">
                  <p>
                    <div class="btn-primary formButtonfront " data-toggle="collapse" href="#{{i.name}}{{i.contact_id}}" role="button" aria-expanded="false" aria-controls="collapseExample" style="border-radius: 4px;padding:1%;">
                        &nbsp; &nbsp;{{i.name}} : {{i.phone}}
                      </div> 
                      <div class="collapse" id="{{i.name}}{{i.contact_id}}">
                        <div class="card card-body">
                          {{i.contact_id}}
                        </div>
                      </div>
                  </p>
                </blockquote>
                {% endfor %}
              </div>
            </div>
            <br />
            <div class="card">
              <div class="card-header">
                Quote
              </div>
              <div class="card-body stuck">
                <blockquote class="blockquote mb-0">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Integer posuere erat a ante.
                  </p>
                  <footer class="blockquote-footer">
                    Someone famous in
                    <cite title="Source Title">Source Title</cite>
                  </footer>
                </blockquote>
                <blockquote class="blockquote mb-0">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Integer posuere erat a ante.
                  </p>
                  <footer class="blockquote-footer">
                    Someone famous in
                    <cite title="Source Title">Source Title</cite>
                  </footer>
                </blockquote>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; codewithsidy 2020</small>
      </div>
    </footer>
    {% endblock %}
