{% extends "./blogs/layout/base.html" %} {% block content %} {% include
"./blogs/layout/nevbar.html" %}
<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      {% include "./blogs/layout/insidenevbar.html" %}
    </div>
  </div>
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Add blog</h1>
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Blog Title</label>
          <input type="text" class="form-control" id="title" placeholder="Blog Title" />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Author</label>
          <select class="form-control" id="author">
            <option>-----</option>
            {% for i in author %}
            <option>{{i.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Series</label>
          <select class="form-control" id="series">
            <option>-----</option>
            {% for i in series %}
            <option>{{i.title}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Time</label>
          <input type="text" class="form-control" id="time" placeholder="Time" />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Date</label>
          <input type="text" class="form-control" id="date" placeholder="Date" />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Blog Tags</label>
          <input type="text" class="form-control" id="tags" placeholder="Tags" />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Meta Tags</label>
          <input type="text" class="form-control" id="meta" placeholder="Meta" />
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Content</label>
          <!-- Create the editor container -->
          <div id="editor" style="height:500px;overflow:auto"></div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Slug</label>
          <input type="text" class="form-control" id="slug" placeholder="Slug" />
        </div>
        <a onclick="mysubmit()" class="btn btn-primary">Save Blogs & View</a>
        <!-- <input type="submit" class="btn btn-primary" placeholder="Save Blogs" /> -->
      </form>
    </div>
    <br />
  </div>
</div>
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
<script src="//cdn.rawgit.com/kensnyder/quill-image-resize-module/3411c9a7/image-resize.min.js"></script>
<!-- Initialize Quill editor -->
<script>
  let html;
  var toolbarOptions = [
    ["bold", "italic", "underline", "strike"], // toggled buttons
    ["blockquote", "code-block"],
    [{ list: "ordered" }, { list: "bullet" }],
    [{ script: "sub" }, { script: "super" }], // superscript/subscript
    [{ indent: "-1" }, { indent: "+1" }], // outdent/indent
    [{ direction: "rtl" }], // text direction
    ["image"],
    [{ size: ["small", false, "large", "huge"] }], // custom dropdown
    [{ header: [1, 2, 3, 4, 5, 6, false] }],

    [{ color: [] }, { background: [] }], // dropdown with defaults from theme
    [{ font: [] }],
    [{ align: [] }],

    ["clean"] // remove formatting button
  ];
  var editor = new Quill("#editor", {
    modules: {
      imageResize: {
        displaySize: true
      },
      toolbar: toolbarOptions
    },
    theme: "snow"
  });

  editor.on("text-change", function (delta, source) {
    updateHtmlOutput();
  });

  // When the convert button is clicked, update output
  $("#btn-convert").on("click", () => {
    updateHtmlOutput();
  });

  // Return the HTML content of the editor
  function getQuillHtml() {
    return editor.root.innerHTML;
  }

  // Highlight code output
  function updateHighlight() {
    hljs.highlightBlock(document.querySelector("#output-html"));
  }

  function updateHtmlOutput() {
    html = getQuillHtml();
    console.log(html);
    // document.getElementById('output-html').innerText = html;
    updateHighlight();
  }

  updateHtmlOutput();


  function mysubmit() {
    var title = document.getElementById("title").value
    var author = document.getElementById("author").value
    var series = document.getElementById("series").value
    var time = document.getElementById("time").value
    var date = document.getElementById("date").value
    var tags = document.getElementById("tags").value
    var meta = document.getElementById("meta").value
    // var editor = document.getElementById("editor").value
    var slug = document.getElementById("slug").value
    var blog = {
      "title": title,
      "author": author,
      "series": series,
      "time": time,
      "date": date,
      "tags": tags,
      "meta": meta,
      "editor": html,
      "slug": slug
    }
    fetch("/receiver", {
      method: "POST",
      body: JSON.stringify(blog),
      headers: new Headers({
        "content-type": "application/json"
      })
    })
      .then(function (response) {
        // At this point, Flask has printed our JSON
        return response.text();
      })
      .then(function (text) {
        console.log("hasfsf");
      });
    console.log(blog);
  }
</script>

{% endblock %}