{% extends "./blogs/layout/base.html" %} {% block content %} {% include
    "./blogs/layout/nevbar.html" %}
<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            {% include "./blogs/layout/insidenevbar.html" %}
        </div>
    </div>
    <div class="card border-0 shadow my-5">
        <img src="#" />
        <div class="card-body p-5">
            <h1 class="font-weight-light">{{blogs.title}}</h1>
            <div class="d-flex text-color justify-content-center">
                <div>
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em"
                        width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M858.5 763.6a374 374 0 0 0-80.6-119.5 375.63 375.63 0 0 0-119.5-80.6c-.4-.2-.8-.3-1.2-.5C719.5 518 760 444.7 760 362c0-137-111-248-248-248S264 225 264 362c0 82.7 40.5 156 102.8 201.1-.4.2-.8.3-1.2.5-44.8 18.9-85 46-119.5 80.6a375.63 375.63 0 0 0-80.6 119.5A371.7 371.7 0 0 0 136 901.8a8 8 0 0 0 8 8.2h60c4.4 0 7.9-3.5 8-7.8 2-77.2 33-149.5 87.8-204.3 56.7-56.7 132-87.9 212.2-87.9s155.5 31.2 212.2 87.9C779 752.7 810 825 812 902.2c.1 4.4 3.6 7.8 8 7.8h60a8 8 0 0 0 8-8.2c-1-47.8-10.9-94.3-29.5-138.2zM512 534c-45.9 0-89.1-17.9-121.6-50.4S340 407.9 340 362c0-45.9 17.9-89.1 50.4-121.6S466.1 190 512 190s89.1 17.9 121.6 50.4S684 316.1 684 362c0 45.9-17.9 89.1-50.4 121.6S557.9 534 512 534z">
                        </path>
                    </svg>
                    <a href="{{url_for('blogs.authors',id=blogs.author)}}"
                        style="padding-right: 20px;"><b>{{blogs.author}}</b></a>
                </div>
                <div>
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em"
                        width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M483.2 790.3L861.4 412c1.7-1.7 2.5-4 2.3-6.3l-25.5-301.4c-.7-7.8-6.8-13.9-14.6-14.6L522.2 64.3c-2.3-.2-4.7.6-6.3 2.3L137.7 444.8a8.03 8.03 0 0 0 0 11.3l334.2 334.2c3.1 3.2 8.2 3.2 11.3 0zm62.6-651.7l224.6 19 19 224.6L477.5 694 233.9 450.5l311.9-311.9zm60.16 186.23a48 48 0 1 0 67.88-67.89 48 48 0 1 0-67.88 67.89zM889.7 539.8l-39.6-39.5a8.03 8.03 0 0 0-11.3 0l-362 361.3-237.6-237a8.03 8.03 0 0 0-11.3 0l-39.6 39.5a8.03 8.03 0 0 0 0 11.3l243.2 242.8 39.6 39.5c3.1 3.1 8.2 3.1 11.3 0l407.3-406.6c3.1-3.1 3.1-8.2 0-11.3z">
                        </path>
                    </svg>
                    <a href="#" style="padding-right: 20px;"><b>{{blogs.series}}</b></a>
                </div>
                <div>
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em"
                        width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z">
                        </path>
                    </svg>
                    <a href="#" style="padding-right: 20px;"><b>{{blogs.time}}</b></a>
                </div>
                <div>
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em"
                        width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M880 184H712v-64c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v64H384v-64c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v64H144c-17.7 0-32 14.3-32 32v664c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V216c0-17.7-14.3-32-32-32zm-40 656H184V460h656v380zM184 392V256h128v48c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-48h256v48c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-48h128v136H184z">
                        </path>
                    </svg>
                    <a href="#" style="padding-right: 20px;"><b>{{blogs.date}}</b></a>
                </div>
            </div>
            <div class="d-flex text-color justify-content-center">
                <ol style="padding-top: 20px">
                    <li><a href="#">5: Flask Flask Flask Flask Flask </a></li>
                    <li><a href="#">5: Flask Flask Flask Flask Flask Flask Flask </a></li>
                    <li><a href="#">5: Flask Flask Flask Flask</a></li>
                    <li><a href="#">5: Flask Flask Flask Flask Flask </a></li>
                </ol>
            </div>
            <p class="lead" id="content">

            </p>

            <p class="lead mb-0">You've reached the end!</p>
        </div>
    </div>
    <!-- <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
          <p> -->
    <div class="row justify-content-center">
        <div class="col-4 related-card">
            <div class="related-post-card">
                <a class="related-post-card" href="/scrape-metadata-json-ld/">
                    <div class="related-post-image-wrapper">
                        <img class="related-post-image lazyloaded"
                            data-src="https://hackersandslackers-cdn.storage.googleapis.com/2020/07/json-ld-pyld-1@2x.jpg"
                            alt="scrape-metadata-json-ld"
                            src="https://hackersandslackers-cdn.storage.googleapis.com/2020/07/json-ld-pyld-1@2x.jpg" />
                    </div>
                    <div class="related-post-info">
                        <h5 class="related-post-title">
                            Scrape Structured Data with Python and Extruct
                        </h5>
                        <div class="related-post-tags">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024"
                                class="tags-icon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M483.2 790.3L861.4 412c1.7-1.7 2.5-4 2.3-6.3l-25.5-301.4c-.7-7.8-6.8-13.9-14.6-14.6L522.2 64.3c-2.3-.2-4.7.6-6.3 2.3L137.7 444.8a8.03 8.03 0 0 0 0 11.3l334.2 334.2c3.1 3.2 8.2 3.2 11.3 0zm62.6-651.7l224.6 19 19 224.6L477.5 694 233.9 450.5l311.9-311.9zm60.16 186.23a48 48 0 1 0 67.88-67.89 48 48 0 1 0-67.88 67.89zM889.7 539.8l-39.6-39.5a8.03 8.03 0 0 0-11.3 0l-362 361.3-237.6-237a8.03 8.03 0 0 0-11.3 0l-39.6 39.5a8.03 8.03 0 0 0 0 11.3l243.2 242.8 39.6 39.5c3.1 3.1 8.2 3.1 11.3 0l407.3-406.6c3.1-3.1 3.1-8.2 0-11.3z">
                                </path>
                            </svg>
                            <span class="tag">Python</span><span class="5ef8eb6ef9742e302666b871 tag-separator">,
                            </span><span class="tag">Scraping</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-4 related-card">
            <div class="related-post-card">
                <a class="related-post-card" href="/scrape-metadata-json-ld/">
                    <div class="related-post-image-wrapper">
                        <img class="related-post-image lazyloaded"
                            data-src="https://hackersandslackers-cdn.storage.googleapis.com/2020/07/json-ld-pyld-1@2x.jpg"
                            alt="scrape-metadata-json-ld"
                            src="https://hackersandslackers-cdn.storage.googleapis.com/2020/07/json-ld-pyld-1@2x.jpg" />
                    </div>
                    <div class="related-post-info">
                        <h5 class="related-post-title">
                            Scrape Structured Data with Python and Extruct
                        </h5>
                        <div class="related-post-tags">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024"
                                class="tags-icon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M483.2 790.3L861.4 412c1.7-1.7 2.5-4 2.3-6.3l-25.5-301.4c-.7-7.8-6.8-13.9-14.6-14.6L522.2 64.3c-2.3-.2-4.7.6-6.3 2.3L137.7 444.8a8.03 8.03 0 0 0 0 11.3l334.2 334.2c3.1 3.2 8.2 3.2 11.3 0zm62.6-651.7l224.6 19 19 224.6L477.5 694 233.9 450.5l311.9-311.9zm60.16 186.23a48 48 0 1 0 67.88-67.89 48 48 0 1 0-67.88 67.89zM889.7 539.8l-39.6-39.5a8.03 8.03 0 0 0-11.3 0l-362 361.3-237.6-237a8.03 8.03 0 0 0-11.3 0l-39.6 39.5a8.03 8.03 0 0 0 0 11.3l243.2 242.8 39.6 39.5c3.1 3.1 8.2 3.1 11.3 0l407.3-406.6c3.1-3.1 3.1-8.2 0-11.3z">
                                </path>
                            </svg>
                            <span class="tag">Python</span><span class="5ef8eb6ef9742e302666b871 tag-separator">,
                            </span><span class="tag">Scraping</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-4 related-card">
            <div class="related-post-card">
                <a class="related-post-card" href="/scrape-metadata-json-ld/">
                    <div class="related-post-image-wrapper">
                        <img class="related-post-image lazyloaded"
                            data-src="https://hackersandslackers-cdn.storage.googleapis.com/2020/07/json-ld-pyld-1@2x.jpg"
                            alt="scrape-metadata-json-ld"
                            src="https://hackersandslackers-cdn.storage.googleapis.com/2020/07/json-ld-pyld-1@2x.jpg" />
                    </div>
                    <div class="related-post-info">
                        <h5 class="related-post-title">
                            Scrape Structured Data with Python and Extruct
                        </h5>
                        <div class="related-post-tags">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024"
                                class="tags-icon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M483.2 790.3L861.4 412c1.7-1.7 2.5-4 2.3-6.3l-25.5-301.4c-.7-7.8-6.8-13.9-14.6-14.6L522.2 64.3c-2.3-.2-4.7.6-6.3 2.3L137.7 444.8a8.03 8.03 0 0 0 0 11.3l334.2 334.2c3.1 3.2 8.2 3.2 11.3 0zm62.6-651.7l224.6 19 19 224.6L477.5 694 233.9 450.5l311.9-311.9zm60.16 186.23a48 48 0 1 0 67.88-67.89 48 48 0 1 0-67.88 67.89zM889.7 539.8l-39.6-39.5a8.03 8.03 0 0 0-11.3 0l-362 361.3-237.6-237a8.03 8.03 0 0 0-11.3 0l-39.6 39.5a8.03 8.03 0 0 0 0 11.3l243.2 242.8 39.6 39.5c3.1 3.1 8.2 3.1 11.3 0l407.3-406.6c3.1-3.1 3.1-8.2 0-11.3z">
                                </path>
                            </svg>
                            <span class="tag">Python</span><span class="5ef8eb6ef9742e302666b871 tag-separator">,
                            </span><span class="tag">Scraping</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- </p>
          <h1 class="font-weight-light"></h1>
        </div>
      </div> -->
</div>
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
<script src="{{url_for('static',filename='dist/browser/QuillDeltaToHtmlConverter.bundle.js')}}"></script>
<script src="https://cdn.quilljs.com/1.2.3/quill.js"></script>
<script>


    function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
    }
    var exp = '{{blogs.content|safe}}';
    var data = JSON.parse(exp)
    // try {
    //     var obj = JSON.parse(data); // this is how you parse a string into JSON 
    //     console.log(obj);
    // } catch (ex) {
    //     console.error(ex);
    // }
    // var data = (exp)
    var qdc = new window.QuillDeltaToHtmlConverter(data, window.opts_ || {});
    var html = qdc.convert();
    console.log(data);
    document.getElementById('content').innerHTML = html;
</script>

{% include "./blogs/layout/footer.html" %} {% endblock %}